@import '../base/color';
// $bgColor: #ADD7F6;
body {
  background-color: $bgColor;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style-type: none;
}

a, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

button, button:focus{
  border: none;
  outline: 0;
  cursor: pointer;
}

input, input:focus, input:hover{
  outline: 0;
  border: none;
}
