@import '../base/color';

.navItems>#navItem{
    display: inline-block;
    float: none;
    left: 50%;
    font-size: 20px;
    margin: 1rem 4rem 4rem 15rem;
    color: $txtColor;
    font-weight: 600;
}

#loginItem{
    display: inline-block;
    float: right;
    font-size: 20px;
    padding: 1rem 4rem 4rem 15rem;
    color: $txtColor;
    font-weight: 600;
}

.navItemWrapper{
}
.navContainer{
    text-align: center;

}